{% extends "layout.html" %}
{% block content %}    
<div id="a1" style:"float:left;width:50%">
<h1><u>DotComDoctor</u></h1>
<p>DotComDoctor is an AI based disease prediction ChatBot. This project was created as a part of our
    <em><strong>Artificial Intelligence (CSN-305),
    Software Engineering (CSN-302) and 
    Web Technologies (CSN-303)</em></strong>
    courses for the academic semester 2020-2021</p>
<h3><u>Team Members:</u></h3>
<p>Jaideep Singh: 18103005</p>
<p>Nishant Puri: 18103019</p>
<p>Nikhil Shaji Kunnathu: 18103109</p>
<div class="content-section" id="acks"style:"float:right;">
            <h3><u>Acknowledgments</u></h3>
              <p class='text-muted'>We would like to thank the following professors for providing us with the skills required to complete this project:
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Professor Rajesh Bhatia</li>
                  <li class="list-group-item list-group-item-light">Professor Manish Kumar</li>
                  <li class="list-group-item list-group-item-light">Professor Sudesh Rani</li>
                </ul>
              </p>
            </p>
          </div>
<h3><u>Links for referrals:</u></h3>
</div>
<li class="About_page_list"><a href="https://github.com/NishantPuri99/DotComDoctor-SoftwareEngineeringProject">Our Github page</a></li>
<li class="About_page_list"><a href="https://trello.com/b/UvC8aT2c/dotcomdoctor-kanban-board">Our Trello board</a></li>
<li class="About_page_list"><a href="https://github.com/NishantPuri99/DotComDoctor-SoftwareEngineeringProject/blob/master/README.md">For in-depth documentation</a></li>
{% endblock content %}