 <!--
<html>
    <head>
       <style>
        .checkbox-grid li {
            display: block;
            float: left;
            width: 25%;
        }
        </style>
    </head>
    <body> -->
{% extends "layout.html" %}
{% block content %}    
        <form method="post" action="/symptom-selector">
            <ul class="checkbox-grid">
                {%for i in variable%}
                    <li style="display: block;float: left;width: 25%;"><input type="checkbox" name="symptoms" value={{i}}><label for = {{i}}>{{i.replace("_"," ").capitalize()}}</label></input></li>
                {%endfor%}
                <input type="submit" value="Add Symptoms" style="align: centerbackground-color: green;" />
            </ul>
        </form>
{% endblock content %}
    <!--</body>
</html>-->